<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!--            Team exstension points                     -->
   <extension point="org.eclipse.team.core.repository">
	  <repository
    	 class="com.vectrace.MercurialEclipse.team.MercurialTeamProvider"
		 id="com.vectrace.MercurialEclipse.team.MercurialTeamProvider"
		  metaFilePaths=".hg/">
 	  </repository>
   </extension>

	<extension point="org.eclipse.team.ui.configurationWizards">
	   <wizard
	        name="Mercurial"
	        icon="icons/mercurialeclipse.png"
	        class="com.vectrace.MercurialEclipse.team.MercurialConfigurationWizard"
	        id="com.vectrace.MercurialEclipse.team.MercurialConfigurationWizard">
	   </wizard>
	</extension>

	<extension point="org.eclipse.team.ui.synchronizeParticipants">
	   <participant
	        icon="icons/mercurialeclipse.png"
	        id="com.vectrace.MercurialEclipse.team.MercurialSynchronizeParticipant"
	        class="com.vectrace.MercurialEclipse.team.MercurialSynchronizeParticipant"
	        name="Mercurial Syncronisation"
	        persistent="true">
	   </participant>
	</extension>

	<extension point= "org.eclipse.team.ui.synchronizeWizards" >
	   <wizard
	        name="Mercurial"
			description="Mercurial synchronize wizard"
	        icon="icons/mercurialeclipse.png"
	        class="com.vectrace.MercurialEclipse.team.MercurialConfigurationWizard"
	        id="com.vectrace.MercurialEclipse.team.MercurialConfigurationWizard">
	   </wizard>
	</extension>


	<extension point="org.eclipse.ui.decorators">
	    <decorator
	            adaptable="true"
	            label="Mercurial Eclipse decorations"
	            state="false"
	            lightweight= "true"
	            location= "BOTTOM_RIGHT"
	            class="com.vectrace.MercurialEclipse.team.DecoratorStatus"
	            id="com.vectrace.MercurialEclipse.team.DecoratorStatus">
	         <description>
	            Label decorations for Mercurial eclipse plugin.
	         </description>
	         <enablement>
               <objectClass name="org.eclipse.core.resources.IResource"/>

               <!-- pluginState
                 id="com.vectrace.MercurialEclipse.team.MercurialTeamProvider"
                 value="activated" >
               </pluginState -->
                 
               
	         </enablement>
	    </decorator>
	    
	</extension>


   <extension
         point="org.eclipse.ui.popupMenus">

<!--            All Team menu                     -->
              
       <objectContribution
           adaptable="true"
           objectClass="org.eclipse.core.resources.IResource"
           id="com.vectrace.MercurialEclipse.IFileContributions">
<!--
           ...
           objectClass="org.eclipse.core.resources.IResource"
           ...
           <visibility>
             <or>
               <objectClass name="org.eclipse.core.resources.IFile"/>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
             </or>
           </visibility>             
-->
           <filter
              name="projectPersistentProperty"
              value="org.eclipse.team.core.repository=com.vectrace.MercurialEclipse.team.MercurialTeamProvider">
           </filter>
           <action
               label="hg &amp;remove"
               icon="icons/remove.png"
               class="com.vectrace.MercurialEclipse.team.ActionRemove"
               tooltip="hg remove"
               menubarPath="team.main/group10"
               id="com.vectrace.MercurialEclipse.team.ActionRemove">
           </action>
           <action
               label="hg &amp;add"
               icon="icons/add.png"
               class="com.vectrace.MercurialEclipse.team.ActionAdd"
               tooltip="hg add"
               menubarPath="team.main/group10"
               id="com.vectrace.MercurialEclipse.team.ActionAdd">
           </action>
           <action
               label="hg &amp;diff"
               icon="icons/mercurialeclipse.png"
               class="com.vectrace.MercurialEclipse.team.ActionDiff"
               tooltip="hg diff"
               menubarPath="team.main/group2"
               id="com.vectrace.MercurialEclipse.team.ActionDiff">
           </action>
           <action
               label="hg &amp;log"
               icon="icons/mercurialeclipse.png"
               class="com.vectrace.MercurialEclipse.team.ActionChangeLog"
               tooltip="hg log"
               menubarPath="team.main/group2"
               id="com.vectrace.MercurialEclipse.team.ActionChangeLog">
           </action>
           <action
               label="hg &amp;revert"
               icon="icons/mercurialeclipse.png"
               class="com.vectrace.MercurialEclipse.team.ActionRevert"
               tooltip="hg revert"
               menubarPath="team.main/group2"
               id="com.vectrace.MercurialEclipse.team.ActionRevert">
           </action>
           <action
               label="hg &amp;annotate"
               icon="icons/mercurialeclipse.png"
               class="com.vectrace.MercurialEclipse.team.ActionAnnotate"
               tooltip="hg annotate"
               menubarPath="team.main/group3"
               id="com.vectrace.MercurialEclipse.team.ActionAnnotate">
           </action>
           <action
               label="hg &amp;commit (All files)"
               icon="icons/mercurialeclipse.png"
               class="com.vectrace.MercurialEclipse.team.ActionCommit"
               tooltip="Commit all files (hg commit)"
               menubarPath="team.main/group1"
               id="com.vectrace.MercurialEclipse.team.ActionCommit">
           </action>
      </objectContribution>

<!--            Project Team menu                     -->
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="com.vectrace.MercurialEclipse.IProjectContributions">
           <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=com.vectrace.MercurialEclipse.team.MercurialTeamProvider">
           </filter>

           <action
               label="hg &amp;view (All files)"
               icon="icons/mercurialeclipse.png"
               class="com.vectrace.MercurialEclipse.team.ActionView"
               tooltip="View releases reflect all files (hg view)"
               menubarPath="team.main/group1"
               id="com.vectrace.MercurialEclipse.team.ActionView">
           </action>
           <!-- action
               label="&amp;hg status"
               icon="icons/mercurialeclipse.png"
               class="com.vectrace.MercurialEclipse.team.ActionStatus"
               tooltip="hg status"
               menubarPath="team.main/projectGroup"
               id="com.vectrace.MercurialEclipse.team.ActionStatus">
           </action -->
      </objectContribution>
      
      <objectContribution
       	   id="org.eclipse.team.ui.ResourceContributions"
           objectClass="org.eclipse.core.resources.IResource" adaptable="true">
        <filter
              name="projectPersistentProperty"
              value="org.eclipse.team.core.repository=com.vectrace.MercurialEclipse.team.MercurialTeamProvider">
        </filter>
		<menu
			id="team.main"
			path="additions"
			label="Team (hg)">
			<separator name="group1"/>
			<separator name="group2"/>
			<separator name="group3"/>
			<separator name="group4"/>
			<separator name="group5"/>
			<separator name="group6"/>
			<separator name="group7"/>
			<separator name="group8"/>
			<separator name="group9"/>
			<separator name="group10"/>
			<separator name="targetGroup"/>
			<separator name="projectGroup"/>
		</menu>
      </objectContribution>

   </extension>




   <extension point="org.eclipse.ui.preferencePages">
      <page class="com.vectrace.MercurialEclipse.preferences.MercurialPreferencePage"
            id="com.vectrace.MercurialEclipse.prefspage"
            category="org.eclipse.team.ui.TeamPreferences"
            name="Mercurial Eclipse"/>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.vectrace.MercurialEclipse.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.vectrace.MercurialEclipse.wizards.sampleCategory"
            name="Mercurial"/>
      <wizard
            category="com.vectrace.MercurialEclipse.wizards.sampleCategory"
            class="com.vectrace.MercurialEclipse.wizards.CloneRepoWizard"
            icon="icons/mercury_Hg.png"
            id="com.vectrace.MercurialEclipse.wizards.ImportWizard"
            name="Clone Repository using Mercurial">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.vectrace.MercurialEclipse"
            name="Mercurial"/>
      <wizard
            canFinishEarly="false"
            category="com.vectrace.MercurialEclipse"
            class="com.vectrace.MercurialEclipse.wizards.CloneRepoWizard"
            icon="icons/mercury_Hg.png"
            id="com.vectrace.MercurialEclipse.wizards.NewHgProjectWizard"
            name="Clone Repository using Mercurial"
            project="true"/>
   </extension>

   <!-- extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="com.vectrace.MercurialEclipse.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/mercurialeclipse.png"
               class="com.vectrace.MercurialEclipse.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.vectrace.MercurialEclipse.actions.SampleAction">
         </action>
      </actionSet>
   </extension -->
   <!-- extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="Sample Page"
            nameFilter="*.*"
            class="com.vectrace.MercurialEclipse.properties.SamplePropertyPage"
            id="com.vectrace.MercurialEclipse.properties.samplePropertyPage">
      </page>
   </extension -->
   <!-- extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/mercurialeclipse.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.vectrace.MercurialEclipse.editors.XMLEditor"
            id="com.vectrace.MercurialEclipse.editors.XMLEditor">
      </editor>
      <editor
            name="Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/mercurialeclipse.png"
            contributorClass="com.vectrace.MercurialEclipse.editors.MultiPageEditorContributor"
            class="com.vectrace.MercurialEclipse.editors.MultiPageEditor"
            id="com.vectrace.MercurialEclipse.editors.MultiPageEditor">
      </editor>
   </extension -->
   <!-- extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.vectrace.MercurialEclipse">
      </category>
      <view
            name="Sample View"
            icon="icons/mercurialeclipse.png"
            category="com.vectrace.MercurialEclipse"
            class="com.vectrace.MercurialEclipse.views.SampleView"
            id="com.vectrace.MercurialEclipse.views.SampleView">
      </view>
   </extension -->
   <!-- extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.vectrace.MercurialEclipse.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension -->
   <!-- extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="com.vectrace.MercurialEclipse">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/mercurialeclipse.png"
            category="com.vectrace.MercurialEclipse"
            class="com.vectrace.MercurialEclipse.wizards.SampleNewWizard"
            id="com.vectrace.MercurialEclipse.wizards.SampleNewWizard">
      </wizard>
   </extension -->


   <!-- extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="com.vectrace.MercurialEclipse.preferences.MercurialPreferencePage"
            id="com.vectrace.MercurialEclipse.preferences.MercurialPreferencePage">
      </page>
   </extension -->
   <!-- extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.vectrace.MercurialEclipse.preferences.MercurialPreferenceInitializer">
      </initializer>
   </extension -->
   <!-- extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension -->

</plugin>
