Branches: {branches}
Tags: {tags}
Rev: {rev}
NodeShort: {node|short}
NodeLong: {node}
DateIso: {date|isodate}
DateAge: {date|age}
Author: {author|person}
Parents: {parents}
Description: {desc|escape|tabindent}
================
