<cs>
<br>{branches}</br>
<tg>{tags}</tg>
<rv>{rev}</rv>
<ns>{node|short}</ns>
<nl>{node}</nl>
<di>{date|isodate}</di>
<da>{date|age}</da>
<au>{author|person}</au>
<pr>{parents}</pr>
<de>{desc|escape|tabindent}</de>
<fl>{files}
</fl>
<fa>{file_adds}
</fa>
<fd>{file_dels}
</fd>
</cs>
============
